/* Global Styling */
body {
    padding: 0;
    margin: 0;
}

/* Formatting the Green Countdown Bubble */
#bubble {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 20px;
    right: 20px;
    width: 125px;
    height: 40px;
    background-color: #21400d;
    border-radius: 20px;
}
/* Styling for the Countdown text */
#count {
    padding: 0;
    margin: 0;
    color: #bfb99e;
}

/* Make all Images Cover the Entire Screen */
.slide {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
}

/* Formatting for the Footer */
#footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background-color: #21400d;
}
#check {
    display: flex;
    justify-content: center;
    align-items: center;
    float: right;
    padding-top: 10px;
    padding-left: 30px;
    padding-right: 10px;
}
/* Previous and Next Button Styling */
#prev, #next {
    float: right;
    cursor: pointer;
    padding: 5px 15px;
    margin: 15px 8px;
    background-color: #bfb99e;
    font-size: 0.9em;
    border: none;
    border-radius: 15px;
    z-index: 10;
}
#prev:hover, #next:hover {
    background-color: #88846f;
}
/* Moving Figcaption to be inside the Footer */
figcaption {
    position: fixed;
    bottom: 10px;
    left: 0;
    height: 2em;
    margin-top: 5px;
    margin-left: 20px;
    font-size: 1.2em;
    color: #bfb99e;
    z-index: 10;
}