/*Page Styling*/

* {
	font-family: Arial, Verdana, sans-serif;
	color: white;
	text-align: center;
}

body {
	width: 90%;
	margin: 0 auto;
}

/* Nav and Footer Styling*/

li {		
  display: inline;		
  padding: 0.5em;
}
			
nav, footer {
  margin: 1%;
	background-color: #d74a49;
	padding: 0.5em 0;
}

footer {
  background-color: #2a223d;
}

/*Feature and Column Styling*/

#content {
	overflow: auto;
}

#feature {
  height: 10em;
  margin-bottom: 1em;
  margin: 1%;
  background-color: #d49727;
  background-image: url('...');
  background-size: contain;
  background-position: right;
  background-repeat: no-repeat;
}

.article {
	height: 10em;
	margin-bottom: 1em;
  width: 31.3%;
	float: left;
	margin: 1%;
}

.column1 {
  background-color: #eaeaea;
}

.column2 {
  background-color: #8ba0a4;
}

.column3 {
  background-color: #215c6e;
	margin-right: 0%;
}

/*Alternate Color Font Styling*/

.altcolor {
  color: #665544;
}
