body {
    font-family: Montserrat, sans-serif;
    font-weight: 400;
    background-image: url("../images/mountains.jpeg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.container {
    background-color: rgb(255, 255, 255, 0.5);
    backdrop-filter: blur(2px);
    width: 40%;
    padding: 20px 4%;
    margin: 4% auto;
    border-radius: 20px;
}
#input {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#checker {
    height: 60vh;
}

figure {
    float: left;
    width: 40%;
    margin: 5%;
}
img {
    width: 100%;
}
a {
    color: black;
    font-size: 10pt;
}

/* All warnings are red and bold */
.warning {
    color: red;
    font-size: 10pt;
    font-weight: 700;
}