body {
    font-family: Montserrat, sans-serif;
    font-weight: 400;
    background-image: url("../images/mountains.jpeg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

#container {
    background-color: rgb(255, 255, 255, 0.5);
    backdrop-filter: blur(2px);
    width: 30%;
    padding: 20px 4%;
    margin: 4%;
    border-radius: 20px;
}