html, body {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.black {
  height: 50px;
  width: 50px;
  background-color: black;
}

.white {
  height: 50px;
  width: 50px;
  background-color: white;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
}
}

#title {
  position: fixed;
  margin: 0px;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 40px;
  padding: 15px;
  color: #431275;
  background-color: darkcyan;
  text-align: center;
}

#container {
  margin-top:20%;
  margin-left:10%;
  margin-right:10%;
  margin-bottom:5%;
  background-image: url(https://github.com/kaidavey/dev109/blob/main/a2/images/premium_photo-1701760184387-0519ab2e1aee.jpg?raw=true);
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: center;
}

footer {
  width: 100%;
  background-color: #333;
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
}

.imageblackbishop {
    background-image: url(https://github.com/kaidavey/dev109/blob/main/a2/images/black-bishop.png?raw=true);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

}

.imageblackcastle {
    background-image: url(https://github.com/kaidavey/dev109/blob/main/a2/images//black-castle.png?raw=true);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.imageblackking {
    background-image: url(https://github.com/kaidavey/dev109/blob/main/a2/images//black-king.png?raw=true);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.imageblackknight {
    background-image: url(https://github.com/kaidavey/dev109/blob/main/a2/images//black-knight.png?raw=true);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.imageblackpawn {
    background-image: url(https://github.com/kaidavey/dev109/blob/main/a2/images//black-pawn.png?raw=true);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.imageblackqueen {
    background-image: url(https://github.com/kaidavey/dev109/blob/main/a2/images//black-queen.png?raw=true);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

img {
    margin-left: 5px;
    margin-top: 10px;
}
