body {
    padding: 0;
    margin: 0;
    height: 200px;
    background: beige;
}

/* Control Panel formatting */
#controls {
    width: max-content;
    height: max-content;
    padding: 10px;
    margin: 0;
    background-color: darkkhaki;
}

/* Dot Styling */
.dot {
    position: absolute;
}

#title {
    padding: 0;
    margin: 0;
}