@import url("style.css");

/* Header Color */
.about {
    background-color: #b47aea;
}

.page {
    display: block;
    width: 50%;
    padding: 3%;
    margin: 35px auto;
    background-image: url("../images/page-greenpin.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    overflow: hidden;
}

#heading {
    text-align: center;
}
#fact {
    margin-top: 30px;
}
.goals {
    float: left;
    clear: left;
    width: 65%;
}
p.goals {
    padding: 0;
    margin: 0;
}
#olympic {
    float: right;
    width: 180px;
    height: auto;
}