/* Header Color */
.courses {
    background-color: #c74e58;
}

/* Change alignment of text on the paper background */
.paper {
    align-items: normal !important;
    text-align: left !important;
}

/* Title Styling */
#title {
    text-align: center;
    margin-top: 0;
}
/* Course Text Elements Styling */
.inside-el {
    padding: 0;
    margin: 5px 0;
}
/* Alter Boldness of the Course title, instructor, and catalog */
.bold {
    font-weight: 600;
}
/* Artifact and Module Buttons Styling */
.button-link {
    width: fit-content;
    padding: 10px 20px;
    margin: 2px;
    background-color: #bd49a6;
    color: white;
    text-decoration: none;
    border-radius: 10px;
    border: none;
}
.button-link:hover {
    background-color: #6c2573;
}
.button-container {
    display: flex;
    gap: 10px;
}