@import url("style.css");

/* Header Color */
.home {
    background-color: #e97a5b;
}

.page {
    display: block;
    width: 50%;
    padding: 4%;
    margin: 35px auto;
    background-image: url("../images/blank-page.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    overflow: hidden;
}

#heading {
    text-align: center;
}
#fact {
    margin-top: 40px;
}
.activities {
    float: left;
    clear: left;
    width: 70%;
}
#olympic {
    float: right;
    width: 180px;
    height: auto;
}