@import url("style.css");

/* Header Color */
.home {
    background-color: #e97a5b;
}

.page {
    width: 80%;
    height: 100vh;
    margin: 35px auto;
    background-image: url("../images/sticker-page.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
}

.page-content {
    margin: 10px auto;
}

#heading {
    position: relative;
    top: 5%;
    text-align: center;
}
#bio {
    position: relative;
    margin: 10px 8%;
    top: 8%;
}
.fun-fact {
    position: relative;
    top: 10%;
    width: 65%;
    float: right;
    margin-right: 4%;
}