@import url("style.css");
@import url("paper.css");

/* Header Color */
.home {
    background-color: #e97a5b;
}

#emoji {
    position: absolute;
    width: 130px;
    height: 130px;
    left: 19%;
    top: 14%;
    animation: spin 6s linear infinite;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}