/* Global Formatting */
body {
    font-family: "Poppins", sans-serif;
    min-width: 700px;
    margin: 0;
    padding: 0;
    background-image: url('../images/corkboard.jpg');
    background-size: contain;
    background-repeat: repeat;
    background-attachment: fixed;
}

/* Page Title Styling */
header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 60px;
    z-index: 10;
}
.heading {
    display: inline;
    font-family: "Pixelify Sans", serif;
    font-weight: 600;
    font-size: 40px;
    padding: 0 0.3em;
}

/* Navigation Bar Styling */
nav {
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 40px;
    z-index: 10;
}
li.nav {
    display: inline;
    padding: 0 0.7em;
}
a.nav {
    font-size: 12px;
    text-decoration: none;
    color: black;
}
a.nav:hover {
    text-decoration: underline;
    color: white;
}

.content {
    height: 150vh;
}

/* Footer Styling */
footer {
    width: 100%;
    height: 60px;
}
.credits {
    text-align: center;
    font-size: 12px;
    padding: 1em;
    margin: 0;
}
