@import url("style.css");

/* Header Color */
.contact {
    background-color: #d34f73;
}

/* Message Container Styling */
.message {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
}

/* Taped Paper Background Image Styling */
.paper {
    width: 70%;
}

/* Thank You Message Styling */
p {
    position: absolute;
    text-align: center;
    font-size: 20px;
}

/* Submit Another Response Font Styling */
.repeat {
    font-size: 14px;
}
