/* Global Formatting */
body {
    font-family: "Poppins", serif;
    min-width: 700px;
    margin: 0;
    padding: 0;
}

/* Header Formatting */
header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 60px;
    background-color: #e97a5b;
}
.heading {
    display: inline;
    font-family: "Pixelify Sans", serif;
    font-weight: 600;
    font-size: 40px;
    padding: 0 0.3em;
}

/* Navigation Bar Formatting */
nav {
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 40px;
    background-color: #e97a5b;
}
li.nav {
    display: inline;
    padding: 0 0.7em;
}
a.nav {
    font-size: 12px;
    text-decoration: none;
    color: black;
}
a.nav:hover {
    text-decoration: underline;
    color: white;
}

/* Content Styling */
.content {
    width: 100%;
    height: 200vh;
    background-image: url('../images/corkboard.jpg');
    background-size: contain;
    background-repeat: repeat-y;
}
