/* Global Formatting */
body {
    font-family: "Poppins", serif;
    min-width: 700px;
    margin: 0;
    padding: 0;
}

/* Page Specific Heading Color */
.home {
    background-color: #e97a5b;
}
.about {
    background-color: #b47aea;
}
.courses {
    background-color: #c74e58;
}
.artifacts {
    background-color: #7ac8cc;
}
.modules {
    background-color: #7cb1ec;
}
.contact {
    background-color: #d34f73;
}
.designs {
    background-color: #62d1b4;
}
.validated {
    background-color: #61e294;
}

/* Header Formatting */
header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 60px;
}
.heading {
    display: inline;
    font-family: "Pixelify Sans", serif;
    font-weight: 600;
    font-size: 40px;
    padding: 0 0.3em;
}

/* Navigation Bar Formatting */
nav {
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 40px;
}
li.nav {
    display: inline;
    padding: 0 0.7em;
}
a.nav {
    font-size: 12px;
    text-decoration: none;
    color: black;
}
a.nav:hover {
    text-decoration: underline;
    color: white;
}

/* Content Styling */
.content {
    width: 100%;
    height: 200vh;
    background-image: url('../images/corkboard.jpg');
    background-size: contain;
    background-repeat: repeat;
}
